.container
  = render 'shared/header'
  //ページのルート表示
  %nav.bread-crumbs
    %ul.bread-crumbs__rink
      = link_to "メルカリ" , "/"
      = fa_icon "angle-right", class: "bread-crumbs__rink--arrow"
      = link_to "マイページ" , "/"
      = fa_icon "angle-right", class: "bread-crumbs__rink--arrow"
      ログアウト


  .mypage-body.clearfix
    = render 'shared/user-side'
    .main__content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .signup__container
          %h2.signup__container--upper 住所入力
          .signup__inner
            .signup__inner__group
              = f.label :お名前
              %span.form-require 必須
              %br/
              = f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "input-default", placeholder: "例）山田"
              .signup__inner__group-box
                = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "input-default", placeholder: "例）彩"
            .signup__inner__group
              = f.label :お名前カナ
              %span.form-require 必須
              %br/
              = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "input-default", placeholder: "例)ヤマダ"
              .signup__inner__group-box
                = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "input-default", placeholder: "例)アヤ"

            .signup__inner__group
              = f.fields_for :address, :address do |address|
                = address.label :郵便番号
                %span.form-require 必須
                %br/
                = address.text_field :postal_code, autocomplete: "postsl_code", class: "input-default", placeholder: "123-4567"
                .address__group
                  = address.label :都道府県
                  %span.form-require 必須
                  %br/
                  = address.select :prefecture, Address.prefs.keys, {}, { class: "input-default" }

                .address__group
                  =address.label :市区町村
                  %span.form-require 必須
                  %br/
                  = address.text_field :city, autocomplete: "city", class: "input-default", placeholder: "例)横浜市緑区"
                .address__group
                  =address.label :番地
                  %span.form-require 必須
                  %br/
                  = address.text_field :house_number, autocomplete: "house_number", class: "input-default", placeholder: "例)青山1-1-1"
                .address__group
                  =address.label :建物名
                  %span.form-any 任意
                  %br/
                  = address.text_field :building_name, autocomplete: "building_name", class: "input-default", placeholder: "例)柳ビル103"

            .form__group
              = f.label :生年月日
              %span.form-require 必須
              %br/
              = raw sprintf(f.date_select(:birthday, start_year: 1900, use_month_numbers: 1, date_separator: '%s', datetime_separator: '%s'), '年', '月') + '日'

            = f.submit "登録する", class: "signup-submit signup-submit-btn"


  = render 'shared/sell-btn'
  = render 'shared/aside'
  = render 'shared/footer'
