%header
  .header__inner
    .header__innner__upper.clearfix
      .header__inner__upper--icon
        =link_to root_path do
          = image_tag("logo.svg", alt: "mercari", width: "134", height: "36")
      .header__inner__upper--form
        = form_tag( search_items_path , :method => 'get' ) do
          = text_field_tag :search
          = fa_icon "search", class: "keyword__search"
          = button_tag
        / %input{ type: "text", placeholder: "キーワードから探す"}
        / = fa_icon "search", class: "keyword__search"

    .header__nav.clearfix
      .header__nav__left
        %ul.header__nav__box
          %li
            = link_to "カテゴリーから探す", "/", class: "header__search__btn"
          %li
            = link_to "ブランドから探す", "/", class: "header__search__btn"
      - if user_signed_in?
        .header__nav__right
          %ul
            %li
              = link_to user_path(id: current_user.id) do
                %figure
                  %p.header__nav__root
                    = image_tag("user.jpg", class: "header__user-icon")
                  / = link_to "users/#{current_user.id}" do
                  = link_to user_path(id: current_user.id) do
                    %span.header__nav__user-mypage マイページ
            %li
              = link_to "/", class: "header__nav__root" do
                %figure
                  %p.header__nav__root
                    = fa_icon "bell-o", class: "fa-lg"
                  %span.header__nav__user-info お知らせ
            %li
              = link_to "/", class: "header__nav__root" do
                %figure
                  %p.header__nav__root
                    = fa_icon "check", class: "fa-lg"
                  %span.header__nav__user-todo やることリスト
      - else
        .header__nav__right
          %ul
            %li
              = link_to "ログイン", new_user_session_path, class: "header__login__btn btn-red"
            %li
              = link_to "新規会員登録", new_user_path, class: "header__login__btn header-signup"
