%main
  %section.top__carousel
    .top__carousel__item
      .slick-box
        %figure
          = link_to "/" do
            = image_tag("bana1.jpg" ,  alt: "")
        %figure
          = link_to "/" do
            = image_tag("bana2.jpg" ,  alt: "")
        %figure
          = link_to "/" do
            = image_tag("bana3.jpg" ,  alt: "")
        %figure
          = link_to "/" do
            = image_tag("bana4.jpg" ,  alt: "")
      .top__carousel__item--nav
        #arrows
          .slick-next-icon
            = image_tag("bana-migi.png" , alt: "" )
          .slick-prev-icon
            = image_tag("bana-hidari.png" , alt: "" )
  %section.pickup__container
    %h2.pickup__head  ピックアップカテゴリー
    %section.items__pickup__container.clearfix
      %h3.items__box__container
        %section.text-center
          = link_to "" ,class: "text-center__name clear-decoration" do
            = "#{@category1.name} 新着アイテム"
        .items__box__content.clearfix
          - @items1.first(4).each do |item|
            %section.items__box
              = link_to "/items/#{item.id}", class: "clear-decoration" do
                %figure.items__box__photo
                  = image_tag item.item_images[0].image, alt: "", class: "items__box__photo--size"
                .items__box__body
                  %h3.items__box__name
                    = item.name
                  .items__box__num
                    .items__box__num__price
                      = number_to_currency("#{item.price}", locale: "jp")
                      %p.items__box__num__tax (税込)
        .view--all すべての商品を見る

    %section.items__pickup__container.clearfix
      %h3.items__box__container
        %section.text-center
          = link_to "" ,class: "text-center__name clear-decoration" do
            = "#{@category2.name} 新着アイテム"
        .items__box__content.clearfix
          - @items2.first(4).each do |item|
            %section.items__box
              = link_to "/items/#{item.id}", class: "clear-decoration" do
                %figure.items__box__photo
                  = image_tag item.item_images[0].image, alt: "", class: "items__box__photo--size"
                .items__box__body
                  %h3.items__box__name
                    = item.name
                  .items__box__num
                    .items__box__num__price
                      = number_to_currency("#{item.price}", locale: "jp")
                      %p.items__box__num__tax (税込)
        .view--all すべての商品を見る

    %section.items__pickup__container.clearfix
      %h3.items__box__container
        %section.text-center
          = link_to "" ,class: "text-center__name clear-decoration" do
            = "#{@category3.name} 新着アイテム"
        .items__box__content.clearfix
          - @items3.first(4).each do |item|
            %section.items__box
              = link_to "/items/#{item.id}", class: "clear-decoration" do
                %figure.items__box__photo
                  = image_tag item.item_images[0].image, alt: "", class: "items__box__photo--size"
                .items__box__body
                  %h3.items__box__name
                    = item.name
                  .items__box__num
                    .items__box__num__price
                      = number_to_currency("#{item.price}", locale: "jp")
                      %p.items__box__num__tax (税込)
        .view--all すべての商品を見る

    %section.items__pickup__container.clearfix
      %h3.items__box__container
        %section.text-center
          = link_to "" ,class: "text-center__name clear-decoration" do
            = "#{@brand1.name} 新着アイテム"
        .items__box__content.clearfix
          - @item_brand.first(4).each do |item|
            %section.items__box
              = link_to "/items/#{item.id}", class: "clear-decoration" do
                %figure.items__box__photo
                  = image_tag item.item_images[0].image, alt: "", class: "items__box__photo--size"
                .items__box__body
                  %h3.items__box__name
                    = item.name
                  .items__box__num
                    .items__box__num__price
                      = number_to_currency("#{item.price}", locale: "jp")
                      %p.items__box__num__tax (税込)
        .view--all すべての商品を見る
