.item__container
  =render 'shared/registration/registration-header'

  %main.item__container__main
    %section.item__container__main__box
      %h2.item__box__header 購入を確定しますか？
      %section.item__box__inner
        .item__box__list
          %h3.item-image
            = image_tag @item.item_images[0].image, class: "buy_photo"
          %P.item-name
            = @item.name
          %div
            .price-box
              %p.item-price
                = number_to_currency( "#{@item.price}", locale: 'jp')
              %p.item-fee 送料込み
            .item-point
              ポイントはありません
            %ul.item-price-table
              .buy-price-call 支払い金額
              .buy-price-pay
                = number_to_currency( "#{@item.price}", locale: 'jp')
              %p.has-error-text 配送先と支払い方法の入力を完了してください。
              %label.payjp__btn
                購入する
                = form_tag(action: :pay, method: :post) do
                  %script.payjp-button{ "data-key" => ENV["PAYJP_PUBLIC_KEY"], src: "https://checkout.pay.jp", type: "text/javascript" }

      %section.user__info
        .buy-container-inner
          %h3.delivery 配送先
          %p.adress-user-info
            = "〒#{current_user.address.postal_code}"
            %br
            = user_address #ヘルパーメソッド
            %br
            = @user.nickname
          %a.buy-user-info-fix{href: "/"}変更する >
      %section.user__footer
        .buy-footer-inner
          %h3.payment 支払い方法
          %p.buy-user-info-text /
          %a.buy-user-info-fix{href: "/"}変更する >

  = render 'shared/registration/registration-footer'
