.container
  = render 'shared/header'
  - breadcrumb :item_show , @item
  = breadcrumbs pretext: " ", separator: " › "
  .main-item
    //商品情報
    %section.main-item-content
      .main-item-content__name
        = @item.name
      //商品情報
      .main-item-content__profile.clear.clearfix
        .main-item-content__profile--img
          .item__imag--main
            = image_tag( @item.item_images[0].image , id: "main-image" , alt: "" , width: "300")
        //テーブル（商品情報）
        %table.main-item-content__profile--text
          %tr
            %th 出品者
            %td.e1
              = link_to "" do
                =@item.user.nickname
          %tr
            %th カテゴリー
            %td.e1
              = link_to "" do
                = @middle_category.parent.name
              %br
              = link_to "" do
                = ">   #{@middle_category.name}"
              %br
              = link_to "" do
                = ">   #{@item.category.name}"
          %tr
            %th ブランド
            %td.e1
              - if @item.brand == nil
              - else
                = @item.brand.name

          -if @item.size ==""
          -else
            %tr
              %th 商品のサイズ
              %td
                = @item.size
          %tr
            %th 商品の状態
            %td
              / = @item.state_before_type_cast
              = @item.state
          %tr
            %th 配送料の負担
            %td
              = @item.delivery_cost
          %tr
            %th 配送の方法
            %td
              = @item.delivery
          %tr
            %th 配送元地域
            %td.e1
              = link_to "" do
                = @item.delivery_area
          %tr
            %th 発送日の目安
            %td
              = @item.delivery_day
      .main-item-content__price
        .price__box.clear.clearfix
          %p.price__box--total
            = number_to_currency("#{@item.price}", locale: "jp")
          %p.price__box--tax
            （税込み）
          %p.price__box--option
            = @item.delivery_cost
      %ul.main-item-content__button
        = link_to buy_item_path do
          %li.main-item-content__button-buy
            購入画面に進む
      .main-item-content__information
        .main-item-content__information--text
          = @item.detail
      .main-item-content__icon.clear.clearfix
        = link_to "#" do
          %ul.main-item-content__icon--iine.clear.clearfix
            %li.main-item-content__icon--iine-icon
              ♡
            %li.main-item-content__icon--iine-text
              いいね! 5
        = link_to "/" do
          %ul.main-item-content__icon--report.clear.clearfix
            %li.main-item-content__icon--report-icon
              = fa_icon " flag-o ", class: "main-item-content__icon--report-icon"
              .main-item-content__icon--report-text
                不適切な商品の報告
        = link_to "" do
          .main-item-content__icon--safety.clear.clearfix
            = fa_icon " lock ", class: "main-item-content__icon--safety-icon"
            .main-item-content__icon--safety-text
              安心・安全への取り組み
    //アイテム・出品者に対する今までのコメント
    %section.main-item__comments.clear.clearfix
      %ul.items__comments
        .items__comment--name
          新規ユーザー
        //コメントは２つ目以降は、margin-top:60px;
        .items__comment
          = image_tag("user.jpg", class: "items__comment--icon")
          .items__comments--text
            こんばんは。値下げは可能でしょうか？
          .items__comments--time.clear.clearfix
            = fa_icon "clock-o", class: "items__comments--time-icon"
            %span
              90日前
        .second-comment
          .items__comment--name
            出品太郎
          .items__comment
            = image_tag("user.jpg", class: "items__comment--icon")
            .items__comments--text
              商品の状態についてもう少し詳細の画像をいただけますでしょうか。
            .items__comments--time.clear.clearfix
              = fa_icon "clock-o", class: "items__comments--time-icon"
              %span
                90日前
    //コメントボックス
    %section.user__comment
      .user__comment--alart
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      =form_for "" do |f|
        = f.text_area :comment, type: 'text', rows: 4 , class: 'user__comment--input'
        = f.submit "コメントする", class:'user__comment--button'
    %nav.main-users__nav.clear.clearfix
      -if Item.exists?(id: @item.id - 1)
        = link_to "< 前の出品商品" , item_path(id: (@item.id-1)) , class: "main-users__nav--before"
      -if Item.exists?(id: @item.id + 1)
        = link_to "次の出品商品 >" , item_path(id: (@item.id+1)) , class: "main-users__nav--after"
    .main-users__sns
      %ul
        %li
          = link_to "/" , class: "main-users__sns--facebook" do
            = fa_icon " facebook-square " , class: " fa-3x"
      %ul
        %li
          = link_to "/" , class: "main-users__sns--tweeter" do
            = fa_icon " twitter-square " , class: " fa-3x"
      %ul
        %li
          = link_to "/" , class: "main-users__sns--pinterest" do
            = fa_icon " pinterest-square " , class: " fa-3x"
    .main-item__box.clear.clearfix
      %ul.main-item__box--name
        %li
          = link_to "#{@item.user.nickname}さんの出品商品" , "/"
      - @user_items.each do |item|
        %section.items__box
          = link_to "/items/#{item.id}", class: "clear-decoration" do
            %figure.items__box__photo
              = image_tag( item.item_images[0].image, alt: "uniqlo", class: "items__box__photo--size")
            .items__box__body
              %h3.items__box__name
                = item.name
              .items__box__num
                .items__box__num__price
                  = number_to_currency("#{item.price}", locale: "jp")
                %p.items__box__num__tax (税込)
    .main-item__box.clear.clearfix
      - if @item.brand == nil
      - else
        %ul.main-item__box--name
          %li
            = link_to "#{@item.brand.name} その他の商品" , "/"
        - @brand_items.each do |item|
          %section.items__box
            = link_to item_path, class: "clear-decoration" do
              %figure.items__box__photo
                = image_tag( item.item_images[0].image , alt: "uniqlo", class: "items__box__photo--size")
              .items__box__body
                %h3.items__box__name
                  = item.name
                .items__box__num
                  .items__box__num__price
                    = number_to_currency("#{@item.price}", locale: "jp")
                  %p.items__box__num__tax (税込)

  = render 'shared/aside'
  = render 'shared/footer'
